:root {
    --bgraund-dark: #090d1f;
    --white: #ffffff;
    --text-color: #1a1a1a;
    --black: #000000;
    --author-color:#6941C6;
    --describe-text:#667085;
    --badge-background: #FDF2FA;
    --research-text: #3538CD;
    --presentation-text:#C11574;
}