.middle-blog{
    width: 100%;
    height: 306px;
    margin: 0 auto;
}
.middle-blog__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.content-picture{
    margin-top: 20px;
    margin-left: 20px;
}